---
import Root from '@layouts/Root.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Card from '@components/Card.astro';
// import VsCodeBanner from '@components/VsCodeBanner.astro';

const cards = [
  {
    name: 'Riverpod Lints',
    description:
      'a developper tool for users of Riverpod, designed to help stop common issue and simplify repetetive tasks.',
    link: 'https://pub.dev/packages/riverpod_lint',
  },
  {
    name: 'Supernova Lints',
    description: 'Provides custom lint rules broadly used in supernova.io.',
    link: 'https://pub.dev/packages/supernova_lints',
  },
  {
    name: 'Flutter ReachFive Lints',
    description:
      'This sdk is the flutter interface implementation of the android and ios sdks of ReachFive',
    link: 'https://pub.dev/packages/flutter_reach_five',
  },
  {
    name: 'Equatable Lints',
    description: 'This is a set of rules to make classes using Equatable more maintainable.',
    link: 'https://pub.dev/packages/equatable_lint',
  },
  {
    name: 'Hardcoded Strings',
    description:
      'Linter which notifies if the user is using hardcoded strings or invalid Ditto keys',
    link: 'https://pub.dev/packages/hardcoded_strings',
  },
];
---

<Root>
  <div class="dark:bg-[url(/images/bg_shadow_l_t.svg)] bg-left-top bg-no-repeat">
    <div
      class="dark:bg-[url(/images/bg_shadow_l_b.svg)] bg-left-bottom bg-no-repeat overflow-hidden"
    >
      <Header />
      <!-- <section class="mb-16 lg:mb-36">
				<div class="px-5">
					<div class="max-w-7xl mx-auto text-center">
						<h2
							class="mb-7 lg:mb-10 font-semibold text-3xl lg:text-5xl"
						>
							VS code Integration
						</h2>
						<p
							class="font-medium mb-10 lg:mb-16 text-sm lg:text-lg opacity-80 dark:opacity-70"
						>
							Easily integrate your sandbox with VS-code, takes
							less than a minuite
						</p>
					</div>
				</div>
				<VsCodeBanner />
			</section> -->
      <section class="w-full overflow-hidden">
        <div class="px-5">
          <div class="max-w-7xl mx-auto mb-12">
            <h2 class="text-center mb-10 lg:mb-20 font-semibold text-3xl lg:text-5xl">
              Plugin library
            </h2>
            <div class="relative">
              <div
                class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-4 lg:gap-10 mb-16 relative z-20"
              >
                {
                  cards.map((card, index) => (
                    <Card class={index > 7 ? 'js-hidden-cards hidden' : ''} {...card} />
                  ))
                }
              </div>
              <img
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 hidden dark:block"
                src="/images/bg_plugins_shadow.svg"
                alt="bg_plugins_shadow"
              />
              <img
                class="absolute -right-72 top-3/4 -translate-y-1/2 hidden dark:block"
                src="/images/bg_plugins_shadow.svg"
                alt="bg_plugins_shadow"
              />
            </div>
            <div class="flex justify-center relative">
              <a
                href="https://pub.dev/packages?q=dependency%3Acustom_lint_builder%2Ccustom_lint+show%3Ahidden"
                class="btn-secondary dark:btn-third w-full max-w-xs lg:w-40 transform-gpu"
              >
                View more
              </a>
            </div>
          </div>
        </div>
      </section>
      <Footer />
    </div>
  </div>
</Root>
