@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700@300&display=swap');

:root {
  --primary: #2E2174;
  --light-background: #fff;
  --dark-background: #0C0D12;

  --astro-code-color-text: #000;
  --astro-code-color-background: transparent;
  --astro-code-token-constant: #6ee7b7;
  --astro-code-token-string: #6ee7b7;
  --astro-code-token-comment: #71717a;
  --astro-code-token-keyword: #000;
  --astro-code-token-parameter: #f9a8d4;
  --astro-code-token-function: #c4b5fd;
  --astro-code-token-string-expression: rgba(71, 148, 23, 0.88);
  --astro-code-token-punctuation: #e4e4e7;
  --astro-code-token-link: var(--primary);

  --shiki-color-background: var(--astro-code-color-background);
  --shiki-color-text: var(--astro-code-color-text);
  --shiki-token-constant: var(--astro-code-token-constant);
  --shiki-token-string: var(--astro-code-token-string);
  --shiki-token-comment: var(--astro-code-token-comment);
  --shiki-token-keyword: var(--astro-code-token-keyword);
  --shiki-token-parameter: var(--astro-code-token-parameter);
  --shiki-token-function: var(--astro-code-token-function);
  --shiki-token-string-expression: var(--astro-code-token-string-expression);
  --shiki-token-punctuation: var(--astro-code-token-punctuation);
}

html {
  --background: var(--light-background);

  color-scheme: light;
}

html.dark {
  --background: var(--dark-background);

  --astro-code-color-text: #FFF;
  --astro-code-token-comment: #FFF;
  --astro-code-token-keyword: #FFF;

  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .underline-gradient {
    @apply bg-gradient-to-r from-[currentColor] to-[currentColor] bg-[length:0_1px] bg-[0_100%] bg-no-repeat transition-[background-size] duration-500;
  }

  .underline-gradient-visible {
    @apply bg-[length:100%_1px];
  }

  .underline-gradient-hidden {
    @apply bg-[length:0_1px];
  }
}

@layer components {
  .btn-primary {
    @apply inline-block rounded-md bg-white px-6 py-4 text-center  
              text-linter transition-opacity duration-500 ease-in-out
              hover:opacity-70 disabled:pointer-events-none disabled:cursor-default;
  }

  .btn-secondary {
    @apply btn-primary bg-linter text-white;
  }

  .btn-third {
    @apply btn-primary bg-[linear-gradient(93.73deg,#2D2072_28.69%,#371D62_88.7%)] text-white shadow-lg shadow-indigo-700/30;
  }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .overflow-initial {
        overflow: initial;
    }
}