---
import Logo from "@components/Logo.astro";
import PluginCodeExample from "./PluginCodeExample.astro";
---

<header
    class="bg-[url(/images/bg_header.svg)] bg-[length:100%_100%] mb-44 dark:bg-none"
>
    <div
        class="bg-[url(/images/bg_header_corner.svg)] bg-[length:45%_65%] bg-no-repeat dark:bg-none px-5"
    >
        <div class="max-w-7xl mx-auto text-white">
            <div class="flex justify-between items-center gap-10 py-7 mb-20">
                <div>
                    <div>
                        <a
                            href="/"
                            class="hover:opacity-75 transition-opacity duration-500 mb-5"
                        >
                            <Logo
                                class="dark:hidden"
                                mainColor="#BEECFE"
                                secondColor="#FFF"
                            />
                            <Logo
                                class="hidden dark:block"
                                mainColor="#7352A0"
                                secondColor="#FFF"
                            />
                        </a>
                    </div>
                </div>
                <div class="flex gap-14 dark:opacity-75">
                    <a
                        class="underline-gradient underline-gradient-hidden hover:underline-gradient-visible"
                        href="">Docs</a
                    >
                    <a
                        class="underline-gradient underline-gradient-hidden hover:underline-gradient-visible"
                        href="https://pub.dev/packages/custom_lint">Github</a
                    >
                </div>
            </div>
            <div class="pb-52 pt-20 flex justify-between gap-20">
                <div class="w-1/2">
                    <h1 class="mb-12 font-semibold text-5xl leading-tight">
                        Build powerful Custom Lint rules for any <span
                            class="font-light dark:text-blue-300/60"
                            >dart & flutter package</span
                        >
                    </h1>
                    <p class="mb-16 dark:opacity-70">
                        Zero configuration, zero set up, simply start building!
                    </p>
                    <a class="btn-primary dark:btn-third w-40" href="">
                        Go to Docs
                    </a>
                </div>
                <div class="relative w-1/2">
                    <div
                        class="relative z-[1] -top-10 rounded-lg overflow-hidden w-full flex justify-center items-center bg-white h-full shadow-[0_0_0_30px_rgba(152,139,222,.04)] dark:bg-transparent dark:bg-[linear-gradient(180deg,#2D2072_10%,#42206E_50%,rgba(45,32,114,0))] dark:shadow-none"
                    >
                        <span
                            class="text-linter text-4xl font-semibold dark:text-white font-mono"
                        >
                            Example output
                        </span>
                    </div>
                    <PluginCodeExample
                        class="-top-24 z-[2] right-1/3 before:bg-[rgba(152,139,222,.04)] before:absolute before:-left-8 before:-top-8 before:w-full before:h-full before:z-[1] before:rounded-lg dark:before:hidden"
                    />
                </div>
            </div>
        </div>
    </div>
</header>
