---
import IconChevronUp from "@components/icons/IconChevronUp.astro";
import IconHamburger from "@components/icons/IconHamburger.astro";

interface Props {
  class?: string;
}

const { class: classStr = "" } = Astro.props as Props;
---

<button data-mobile-toggle class={`w-6 h-6 relative ${classStr}`}>
  <span data-mobile-toggle-open class="absolute inset-0 transition">
    <IconHamburger />
  </span>
  <span
    data-mobile-toggle-close
    class="absolute inset-0 transition text-white"
    style={{ opacity: 0 }}
  >
    <IconChevronUp />
  </span>
</button>
